
.login-component{
    height:28rem;
    width:30rem;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly; 
    align-items:center;
 
    border: 0px solid;
    padding:1em;
    
}
.login-component-child{
 
    width:100%;
}
.login-form {
    margin:0 auto;
    height:18em;
    width:24em;
    outline:none;
 
}
.login-parent-container{
    height:100%;
    width:100%;
    padding:2em;
    border:2px solid ;
    border-radius: 10px;
    box-sizing: border-box;
    background-color:wheat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

}
.login-child-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    width:100%;
    height:5%;
    text-align: center;
  
}
#login-icon{
    height:2em;
    width:2em;
}
.login-input{
    border:none;
    background-color:wheat;
    border-bottom: 2px solid;
    outline:none;
    width:100%;
}
#login{
    
    background-color: rgb(167, 208, 208);
    color:rgb(255, 253, 250);
    box-shadow: 5px 5px 10px gray;
}
#navigate-signup{
    background-color: rgb(167, 208, 208);
    color:rgb(255, 253, 250);
    box-shadow: 5px 5px 10px gray;
}