
form {
    height:40vh;
    width:50vh;
    border:2px solid;
    border-radius: 4px;
}

input{
    border:none;
    background-color:wheat;
    border-bottom: 2px solid;
    outline:none;
    width:40vh;
}
button{
    background-color: rgb(167, 208, 208);
}

.password{
    width:50vh;
} 
.button-show{
    
    padding:2px;
    border:none;
    outline:none;
    background-color:wheat;
    width:3rem;
}

.password-input{
    width:35vh;
}

.parent-container{
    height:40vh;
    width:50vh;
    background-color:wheat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}