.signup-component{
    margin: 0 auto;
    padding: 1rem;
    height: 35em;
    width: 35em;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    border:0px solid black;
    border-radius:15px;
    background-color: none;
    position:relative;
    
    
}/*background-color: brown;*/

.signup-form {

    position:relative;
    outline:none;
    border:2px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    
    background-color:rgb(200, 141, 32);

    
}
button{
    background-color: rgb(167, 208, 208);
    
}
#signup{
    box-shadow: 5px 5px 10px gray;
    color:rgb(255, 253, 250);
} 
.signup-icon-class{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: wheat;
    width:30em;
    height:3em;
    border:2px solid;
    box-sizing: border-box;
    border-radius:15px 15px 0px 0px;
    text-align: center;
    
}
#signup-icon{
    height:5vh;
    width:6vh;
}  
.signup-parent-container{
    height:25em;
    width:30em;
    padding: 1em;
    position:absolute;
    border: 2px solid;
    border-radius: 0px 0px 15px 15px;
    box-sizing: border-box;
    background-color:wheat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px gray;

    
}
 .signup-child-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width:26em;
    height:3em;    


 }

.signup-input{
    border:none;
    background-color:wheat;
    border-bottom: 2px solid;
    outline:none;
    box-sizing: border-box;    
    width:100%;
    font-size: large;
    
}
input{
    background-color: wheat !important;
}
input:-webkit-autofill {
    background-color: wheat !important;
    -webkit-box-shadow: 0 0 0px 1000px wheat inset !important;
  }
  
  input:-webkit-autofill:focus {
    background-color: wheat !important;
    -webkit-box-shadow: 0 0 0px 1000px wheat inset !important;
  }
.password{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

.password > input{
    width:90%;
}
.password >  button{
    
    width:10%;
    border:none;
    outline:none;
    background-color:wheat;  
    
} 

.confirm-password{
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
 .confirm-password > input{
    width:90%;
 }

.confirm-password > button{
    width:10%;
    border:none;
    outline:none;
    
    background-color:wheat;
     

}
#login-button{
    box-shadow: 5px 5px 10px gray;
    
} 